<a href="https://colab.research.google.com/github/sungna1216/esaa-22-1/blob/main/wine_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [14]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [10]:
wine=pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",sep=',',header=None)
wine.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [11]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)
wine.head()

      1     2     4    5     7     9     10
0  14.23  1.71  15.6  127  3.06  2.29  5.64
1  13.20  1.78  11.2  100  2.76  1.28  4.38
2  13.16  2.36  18.6  101  3.24  2.81  5.68
3  14.37  1.95  16.8  113  3.49  2.18  7.80
4  13.24  2.59  21.0  118  2.69  1.82  4.32

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [12]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,5.64
1,13.20,1.78,11.2,100,2.76,1.28,4.38
2,13.16,2.36,18.6,101,3.24,2.81,5.68
3,14.37,1.95,16.8,113,3.49,2.18,7.80
4,13.24,2.59,21.0,118,2.69,1.82,4.32

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [15]:
wine.iloc[0:3, 0] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,5.64
1,NaN,1.78,11.2,100,2.76,1.28,4.38
2,NaN,2.36,18.6,101,3.24,2.81,5.68
3,14.37,1.95,16.8,113,3.49,2.18,7.80
4,13.24,2.59,21.0,118,2.69,1.82,4.32

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [16]:
wine.iloc[2:4, 3] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,5.64
1,NaN,1.78,11.2,100.0,2.76,1.28,4.38
2,NaN,2.36,18.6,NaN,3.24,2.81,5.68
3,14.37,1.95,16.8,NaN,3.49,2.18,7.80
4,13.24,2.59,21.0,118.0,2.69,1.82,4.32

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [17]:
wine.alcohol.fillna(10, inplace = True)

wine.magnesium.fillna(100, inplace = True)

wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,5.64
1,10.00,1.78,11.2,100.0,2.76,1.28,4.38
2,10.00,2.36,18.6,100.0,3.24,2.81,5.68
3,14.37,1.95,16.8,100.0,3.49,2.18,7.80
4,13.24,2.59,21.0,118.0,2.69,1.82,4.32

### Step 9. Count the number of missing values

In [18]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [19]:
#randint():    1 
#rand(): 0 1    matrix array 
#randn():      matrix array 
random = np.random.randint(10, size = 10) 
random

array([4, 4, 5, 4, 0, 9, 8, 7, 8, 9])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [20]:
wine.iloc[random]=np.nan
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.00,1.78,11.2,100.0,2.76,1.28,4.38
2,10.00,2.36,18.6,100.0,3.24,2.81,5.68
3,14.37,1.95,16.8,100.0,3.49,2.18,7.80
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,14.39,1.87,14.6,96.0,2.52,1.98,5.25
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [21]:
wine.isnull().sum()

alcohol              6
malic_acid           6
alcalinity_of_ash    6
magnesium            6
flavanoids           6
proanthocyanins      6
hue                  6
dtype: int64

### Step 13. Delete the rows that contain missing values

In [22]:
# any -> row  column NaN 1  drop (default .)
# all -> row  column    NaN drop
wine = wine.dropna(axis = 0, how = "any")
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
1,10.00,1.78,11.2,100.0,2.76,1.28,4.38
2,10.00,2.36,18.6,100.0,3.24,2.81,5.68
3,14.37,1.95,16.8,100.0,3.49,2.18,7.80
6,14.39,1.87,14.6,96.0,2.52,1.98,5.25
10,14.10,2.16,18.0,105.0,3.32,2.38,5.75

### Step 14. Print only the non-null values in alcohol

In [23]:
y = wine.alcohol.dropna()
y

1      10.00
2      10.00
3      14.37
6      14.39
10     14.10
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 172, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [24]:
# reset_index():   .    DataFrame  ,     . 
wine.reset_index(drop=True)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,10.00,2.36,18.6,100.0,3.24,2.81,5.68
2,14.37,1.95,16.8,100.0,3.49,2.18,7.80
3,14.39,1.87,14.6,96.0,2.52,1.98,5.25
4,14.10,2.16,18.0,105.0,3.32,2.38,5.75
...,...,...,...,...,...,...,...
167,13.71,5.65,20.5,95.0,0.61,1.06,7.70
168,13.40,3.91,23.0,102.0,0.75,1.41,7.30
169,13.27,4.28,20.0,120.0,0.69,1.35,10.20
170,13.17,2.59,20.0,120.0,0.68,1.46,9.30
171,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### BONUS: Create your own question and answer it.

In [25]:
#  
wine.describe()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
count,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000
mean,12.926337,2.352733,19.597093,99.226744,1.996686,1.581512,5.035814
std,0.856460,1.130573,3.324856,14.140927,0.999041,0.577094,2.348014
min,10.000000,0.740000,10.600000,70.000000,0.340000,0.410000,1.280000
25%,12.320000,1.597500,17.350000,88.000000,1.097500,1.235000,3.147500
50%,12.945000,1.870000,19.500000,97.500000,2.065000,1.540000,4.600000
75%,13.622500,3.132500,21.500000,106.250000,2.790000,1.950000,6.200000
max,14.750000,5.800000,30.000000,162.000000,5.080000,3.580000,13.000000